﻿
@model A4_BigSchool_5_ConBao.ViewModels.CourseViewModel
    
   
   

<h2>Create</h2>
    @using (Html.BeginForm("Create", "Course"))
    {

        @Html.AntiForgeryToken()
        
        <div class="from-group">
            @Html.LabelFor(m => m.Place)
            @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
        </div>

        <div class="from-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        </div>

        <div class="from-group">
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
        </div>

        <div class="from-group">
            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), " ", new { @class = "form-control" })
        </div>
    <br /><button type="submit" value="Save" class="btn btn-primary">Save</button>
    }

@section scripts {
    @Scripts.Render("~/bundles/jqueryval");
    }
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
